<ul class="header__user-panel">
  <li><%= link "My favourites", to: "/user_favourites" %></li>
  <li><%= link "Auctions", to: "/" %></li>
  <li><%= link "My auctions", to: "/user_auctions" %></li>
  <li><%= link "Watchlist", to: "/user_watchlist" %></li>
  <li><%= link "Comments", to: "comments" %></li>
</ul>
<%= button("New auction", type: "success", to: "/new_auction") %>
